body {
    background-color: white;
    font-family: Arial;
}

input {
    background-color: #F0F0F0;
}

a:link, a:visited {
    color: #289CAE;
}

label {
    color: #FFCBA5;
}

table.dataTable thead, table.dataTable tfoot {
    background-color: white;
    color: #FFA870;
}

table.dataTable tbody tr td {
    color: black;
}

#labs_info, #projects_info {
    color: #9ADAC7;
}
