:root {
  --dark-grey: #232323;
  --light-grey: #bfbfbe;
  --orange: #ffa870;
  --dark-orange: #a24a134c;
  --light-orange: #f5cda4;
  --blue: #0091aa;
  --light-blue: #a4bfcf;
  --greenish-blue: #045757;
  --dark-greenish-blue: #044343;
}

body {
  background-color: white;
  color: #444;
  font-family: Verdana, sans-serif;
  font-size: medium;
  height: 100%;
}
h1 {
  text-align: center;
}

.center,
.tab-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: -1;
}

.click-zoom input[type="checkbox"] {
  display: none;
}

.click-zoom img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

.click-zoom input[type="checkbox"]:checked ~ img {
  transform: scale(2);
  cursor: zoom-out;
}

a:link,
a:visited {
  color: #289cae;
}

div.breadcrumbs {
  background-color: #eeeeee;
  padding-left: 1rem;
  padding-top: 0.2rem;
  font-size: large;
  height: 2.1em;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  border: 0.1em solid #060606;
}

div.breadcrumbs a:hover {
  color: var(--orange);
}

img.product {
  height: 2em;
  width: 2em;
  padding: 0.2em;
  margin: 0.1em;
}

img.product:hover {
  border: 0.1em solid white;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-grey);
    color: var(--light-grey);
  }

  a:link,
  a:visited {
    color: var(--light-orange);
  }

  a:hover {
    color: var(--orange);
  }

  div.breadcrumbs {
    background-color: #303030;
    border: #606060 solid 0.1em;
  }

  input {
    background-color: #080808;
    color: var(--light-grey);
  }

  img.dark {
    background-color: #888888;
  }

  img.dark_invert {
    position: page;
    filter: invert(1);
    z-index: 0;
  }
}
