body {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: medium;
}

h1 {
    text-align: center;
}

img.float_left {
    width: 15%;
    float: left;
}

.intro {
    padding-left:20%;
    padding-right:20%;
    position: relative;
}

input {
    background-color: #F0F0F0;
    font-family: Arial, sans-serif;
    font-size: medium;
}

a:link, a:visited {
    color: #289CAE;
}

label {
    color: #FFCBA5;
}

table.dataTable thead, table.dataTable tfoot {
    background-color: white;
    color: #FFA870;
}

table.dataTable tbody tr td {
    color: black;
}

td#showcase {
    background-color: #ffcccc;
    color: rgba(0,0,0,0); /* Opacity set to 0 for full transparency; value is displayed only for sorting */
}

td#incubator {
    background-color: #ffffcc;
    color: rgba(0,0,0,0); /* Opacity set to 0 for full transparency; value is displayed only for sorting */
}

td#market {
    background-color: #ccffcc;
    color: rgba(0,0,0,0); /* Opacity set to 0 for full transparency; value is displayed only for sorting */
}

table.dataTable tbody tr td.proj_name  {
    font-weight: bold;
}

table.dataTable button {
    border-radius: 6px;
    background-color: #FCE4D4;
    font-family: Arial, sans-serif;
    font-size: medium;
    border: solid 1px #FFCBA5;
}

table.dataTable button:hover {
    background-color: #FFCBA5;
}

#labs_info, #projects_info {
    color: #9ADAC7;
}

div.dataTables_wrapper  div.dt-buttons {
  width: 100%;
  float: none;
  text-align: right;
}

div.dataTables_wrapper button.dt-button {
    padding: 0.2em;
    line-height: 1em;
}

div.dataTables_wrapper div.dt-button-collection button.dt-button.active {
    background-color: #9ADAC7;
    background-image: none;
}

div.dataTables_wrapper div.dt-button-collection button.dt-button.active:hover {
    background-color: #289CAE;
    background-image: none;
}
