:root {
  --category-row-color: #e0e0f0;
  --category-row-hover-color: #d0d0f0;
  --incubated-odd-row-hover-color: #c0e8e0;
  --incubated-odd-row-color: #e0f8f0;
  --incubated-even-row-hover-color: #b8e8e0;
  --incubated-even-row-color: #d8f8f0;
  --not-incubated-odd-row-hover-color: #f0f0f0;
  --not-incubated-odd-row-color: #fefefe;
  --not-incubated-even-row-hover-color: #eaeaea;
  --not-incubated-even-row-color: #f5f5f5;
  --tag-content: #eeeeee88;
  --tag-content-hover: #eeeeee;
  --tag-border: #888888;
  --display-headers: "table-cell";
}
@media (prefers-color-scheme: dark) {
  :root {
    --category-row-color: #202050;
    --category-row-hover-color: #303060;
    --incubated-odd-row-hover-color: #235c4b;
    --incubated-odd-row-color: #134c3b;
    --incubated-even-row-hover-color: #2b6453;
    --incubated-even-row-color: #1b5443;
    --not-incubated-odd-row-hover-color: #474747;
    --not-incubated-odd-row-color: #373737;
    --not-incubated-even-row-hover-color: #4f4f4f;
    --not-incubated-even-row-color: #3f3f3f;
    --tag-content: #88888844;
    --tag-content-hover: #aaaaaaaa;
    --tag-border: #cccccc;
  }
}

.shown_with_headers {
  display: var(--display-headers);
}

html {
  height: 100%;
}

img.float_left {
  width: 15%;
  float: left;
  padding-bottom: 1rem;
}

div.contents {
  margin-top: 0;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.page-header {
}

div.intro {
  padding-left: 20%;
  padding-right: 20%;
}

div.color_legend {
  display: flex;
  margin-left: auto;
  margin-right: 1em;
  height: 2em;
}

div.page-table {
  margin-top: 1em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

div.layout-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 5em;
  z-index: 1;
}

div.layout-filter div {
  margin-right: 1em;
}

div.layout-table {
  margin-top: -1em;
  margin-bottom: -1.5em;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

input {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  font-size: medium;
}

.clear_search {
  border-radius: 2px;
  padding: 0.2em;
  cursor: pointer;
  background-color: white;
  color: #3e3e3e;
  margin-left: -1.7em;
  font-size: 80%;
}

label {
  color: #ffcba5;
}

span.box {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
  display: inline-block;
  border: 1px solid #070707;
}

.incubated_even {
  background-color: var(--incubated-even-row-color);
}

.incubated_odd {
  background-color: var(--incubated-odd-row-color);
}

.not_incubated_even {
  background-color: var(--not-incubated-even-row-color);
}

.not_incubated_odd {
  background-color: var(--not-incubated-odd-row-color);
}

.button {
  border-radius: 6px;
  background-color: var(--tag-content);
  font-family: Arial, sans-serif;
  font-size: medium;
  border: solid 1px var(--tag-border);
  margin: 1px;
}

.button:hover {
  background-color: var(--tag-content-hover);
}

table.dataTable thead,
table.dataTable tfoot {
  background-color: white;
  color: #ffa870;
}

table.dataTable tbody tr td {
  color: black;
}

table.dataTable tbody tr td a {
  color: white;
  text-decoration: none;
}

table.dataTable tbody tr td.proj_name {
  font-weight: bold;
}

table.dataTable.display tbody tr.odd > td {
  background-color: var(--not-incubated-odd-row-color);
}

table.dataTable.display tbody tr.even > td {
  background-color: var(--not-incubated-even-row-color);
}

table.dataTable.display tbody tr.odd:hover > td {
  background-color: var(--not-incubated-odd-row-hover-color);
}

table.dataTable.display tbody tr.even:hover > td {
  background-color: var(--not-incubated-even-row-hover-color);
}

table.dataTable.display tbody tr.incubated.odd > td {
  background-color: var(--incubated-odd-row-color);
}

table.dataTable.display tbody tr.incubated.even > td {
  background-color: var(--incubated-even-row-color);
}

table.dataTable.display tbody tr.incubated.odd:hover > td {
  background-color: var(--incubated-odd-row-hover-color);
}

table.dataTable.display tbody tr.incubated.even:hover > td {
  background-color: var(--incubated-even-row-hover-color);
}

table.dataTable.display tbody tr > td.category {
  text-align: center;
  font-size: 150%;
  background: var(--category-row-color);
}

table.dataTable.display tbody tr:hover > td.category {
  background: var(--category-row-hover-color);
}

#labs_info,
#projects_info {
  color: #9adac7;
}

div.dataTables_wrapper div.dt-buttons {
  width: 100%;
  float: none;
  text-align: right;
}

div.dataTables_wrapper button.dt-button {
  padding: 0.2em;
  line-height: 1em;
}

div.dataTables_wrapper div.dt-button-collection button.dt-button.active {
  background-color: #9adac7;
  background-image: none;
}

div.dataTables_wrapper div.dt-button-collection button.dt-button.active:hover {
  background-color: #289cae;
  background-image: none;
}

#projects_filter {
  padding: 5px;
}

@media (prefers-color-scheme: dark) {
  .button {
    color: white;
  }

  table.dataTable thead,
  table.dataTable tfoot {
    background-color: #333333;
  }

  table.dataTable tbody tr td {
    color: white;
  }

  div.dt-buttons {
    display: inline-block;
  }

  button.dt-button {
    color: var(--light-orange) !important;
    background-color: var(--dark-grey) !important;
    background-image: none !important;
  }

  button.dt-button.active {
    background-color: #307050 !important;
  }

  button.dt-button.active:hover {
    background-color: #289cae !important;
  }

  button.dt-button:hover {
    background-color: #286c7e !important;
  }

  table.dataTable.cell-border tbody td {
    border-top: none !important;
    border-right: 1px solid #444 !important;
  }

  table.dataTable.cell-border tbody td {
    border-top: none !important;
    border-right: 1px solid #444 !important;
  }

  input {
    color: #303030;
  }
}
